# CMake
build/
out/
bin/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Executables
*.exe
*.out
*.app

# IDE
.vscode/

# Logs
*.log
logs/

# Dependencies (downloaded by CMake)
_deps/
external/

# tests
test_config.json